
* {
  margin: 0;
}

.topnav  {
    list-style: none;
    display: flex;
    background-color: #f59542;

}

.logo {
    margin-right: auto;
    width: 60px; 
    height: 60px;
    padding-top: px;
    
    
}


.items {
    padding: 20px;
    text-align: center;
    font-size: 18px;

}

.items a {
    text-decoration: none;

    color: black;
}

.topnav a:hover {
    border-bottom: 5px red solid;
    border-radius: 25%;

}


.container {
    position: relative;

}

#bottom {
    text-align: center;
}

#image {

    width: 300px;
    height: 250px;
}
/* Existing styles for larger screens */
.topnav {
    
    overflow: hidden;
    display: flex;
    align-items: center;
}

.topnav img.logo {
    margin-right: 20px; /* Adjust spacing between logo and search bar */
}

.topnav .search {
    margin-left: auto; /* Push the search bar to the right */
}

.topnav input[type="text"] {
    padding: 6px;
    border: none;
    font-size: 17px;
}

.topnav button[type="submit"] {
    padding: 6px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

/* Responsive styles for tablet and mobile views */
@media (max-width: 768px) {
    .topnav {
        flex-direction: column; /* Stack items vertically */
    }

    .topnav img.logo {
        margin-right: 0; /* Remove margin for logo */
    }

    .topnav .search {
        margin: 10px 0; /* Add margin to separate items */
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
    }

    .topnav input[type="text"] {
        width: 100%;
        text-align: center;
    }

    .topnav button[type="submit"] {
        margin-top: 10px; /* Add margin between input and button */
       
    }
}
